<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        beStrictAboutOutputDuringTests="true"
        failOnRisky="true"
        failOnWarning="true"
        colors="true"
        displayDetailsOnIncompleteTests="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
    >

    <testsuites>
        <testsuite name="ovos Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <ini name="precision" value="14"/>
        <ini name="serialize_precision" value="14"/>

        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>
